@model IEnumerable<Catalyst.Models.Joke>

@{
    ViewData["Title"] = "Juan's Jokes";
}

<div>
    <img src="~/images/juan.interns.hawaii.png" width="296" height="255">
</div>

<h2>Juan's Jokes</h2>

@foreach (var item in Model)
{
    <div class="row">
        <h3>@Html.DisplayFor(modelItem => item.JokeText)</h3>
    </div>
    <div class="row">
        @Html.DisplayFor(modelItem => item.Punchline)
    </div>
    <div class="row">
        <small><i>@item.CreatedDate.ToString("yyyy-MM-dd")</i></small>
    </div>
    <hr />
}
